# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json 
import time

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../WeatherPy/Output_Data/cities.csv")
weather_data

,City,Longitude,Latitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,albany,42.60,-73.97,57.99,82,100,3.62,US,1603240803
1,sisimiut,66.94,-53.67,32.97,91,100,25.28,GL,1603240946
2,jamestown,42.10,-79.24,48.00,93,90,8.05,US,1603240947
3,butaritari,3.07,172.79,82.09,76,91,11.68,KI,1603240948
4,saint george,37.10,-113.58,84.20,9,1,5.82,US,1603240778
...,...,...,...,...,...,...,...,...,...
545,banjar,-8.19,114.97,86.00,84,75,2.24,ID,1603241652
546,kizukuri,40.81,140.39,64.00,50,20,2.24,JP,1603241653
547,calama,-22.47,-68.93,64.40,10,0,16.11,CL,1603241654
548,bilibino,68.05,166.44,22.17,94,100,2.06,RU,1603241656
549,tual,-5.67,132.75,77.83,88,100,12.57,ID,1603241657

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
# Configure gmaps
gmaps.configure(api_key = g_key)

# Use the Lat and Lng as locations and Humitidy as the weight
locations = weather_data[["Longitude", "Latitude"]]

# Store Humidity
humidity = weather_data["Humidity"]

In [11]:
# Use the Lat and Lng as locations and Humitidy as the weight
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure